// 用于重写默认颜色常量，或者设置新的 stylus 颜色常量
// colors
$accentColor = #F9B54E;
$textColor = #2a363b;
$borderColor = #eaecef;
$codeBgColor = #282c34;
$arrowBgColor = #ccc;
$badgeTipColor = #001980;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961